@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --b100: #000000;
    --b200: #1a1a1a;
    --b300: #242424;
    --b400: #313131;
    --b500: #3b3b3b;
    --b600: #424242;
    --b700: #555555;
    --b800: #696969;
    --b900: #7e7e7e;
    --w100: #ffffff;
}

body {
    margin: auto;
    font-family: 'Nunito', 'Noto Sans Thai';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--b300);
    color: var(--w100);
    max-width: 60rem;
}

.top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30rem;
    width: 100%;
}

button {
    margin-top: 16px;
    background-color: var(--b700);
    color: var(--w100);
    border: none;
    padding: 16px;
    border-radius: 16px;
    font-size: 24px;
    font-family: 'Noto Sans Thai';
}

.pitch {
    background-color: var(--b400);
}

.section {
    height: 15rem;
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-width: 5px;
    border-color: var(--b400);
}

.pitch-icon {
    width: 25rem;
    height: 15rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.pitch-description {
    flex-grow: 1;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 32px 0 32px;
}